https:
  port: 

keystore:
  path: 
  password: 

mysql:
  host: 
  port: 
  user:
  password:
  schema: 

api:
  autodiscovery: 
  
anypoint:
  platform:
    client_id: 
    client_secret: 
    visualizer:
      layer: